.contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1.25rem;
    bottom: 7.5rem;
    width: 3.75rem;
    max-width: 12.5rem;
    height: 3.75rem;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0.0625rem 0.0625rem 0.125rem #888;
    cursor: pointer;
    z-index: 99;
}

.contact__whatsapp__img{
    width: 2.1875rem;
    height: 2.1875rem;
}