@media only screen and (max-width: 768px) {
    .nav__item{
        display: none;
    }

    .new__plans__table{
        flex-direction: column;
        max-width: 48rem;
        gap: 1.25rem;
    }

    .column__plan{
        display: none;
    }

    .column__best__plan{
        width: 100%;
        border-radius: 0.75rem;
        position: relative;
        padding: 1.5625rem;
    }

    .column__new__plan{
        border: 0.0625rem solid #ccc;
        border-radius: 0.75rem;
        width: 100%;
        padding-top: 1.5625rem;
    }

    .plans__description__header{
        margin: 3.125rem;
        border-bottom: 0.0625rem solid #ffad12;
    }

    .table__description__item{
        display: none;
    }

    .experience__areas__container{
        flex-direction: column;
    }

    .exclusive__classes__container{
        flex-wrap: wrap;
    }

    .connect__container__content{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 6.25rem;
    }

    .gym__plus__container__list{
        flex-wrap: wrap;
    }


    .position__768px{
        align-items: flex-start;
    }

    .padding__top__768px{
        padding-top: 0;  
    }

    .footer__links__container{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .footer__link__container__content{
        border-bottom: 0.0625rem solid #c2c2c2;
        color: #fff;
        line-height: 1.5;
        width: 100%;
        margin-left: 0;
        padding: 1.875rem 0 1.875rem;
    }

    .padding__border__adjust{
        padding: 1.875rem 0 0;
        border: none;
    }

    .footer__links__list{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0.3125rem;
        grid-column-gap: 1.875rem;
        
    }    
}